@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
body {
  margin: 0 !important;
  overflow-x: hidden;
}

.wave {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -100px !important;
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0 !important;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: -150px !important;
  z-index: 2;
}

.footer-container {
  width: 75%;
  height: 150px;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: row;
}
.copyright .dot-copyright {
  background: #DDA288;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.copyright p {
  font-size: 1.4em;
  font-family: "Manjari", sans-serif;
  font-weight: 700;
  line-height: 35px;
  padding-left: 15px;
  color: #F5F1F1;
}

.socials {
  display: flex;
  flex-direction: column;
}
.socials p {
  font-size: 1.4em;
  font-family: "Manjari", sans-serif;
  font-weight: 700;
  line-height: 35px;
  color: #F5F1F1;
}
.socials .socials-icons i {
  font-size: 2em;
  padding: 10px;
  color: #DDA288;
  cursor: pointer;
  transition: 0.2s;
}
.socials .socials-icons i:hover {
  transform: scale(1.2);
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  color: white;
  /* ADD THIS LINE */
  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../public/assets/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 20px !important;
}
.hero h1 {
  /* Text styles */
  font-size: 5em;
  font-family: "Open Sans";
  /* Margins */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.hero h2 {
  font-size: 2em;
  font-family: "Open Sans";
  font-style: italic;
  letter-spacing: 5px;
  /* Margins */
  margin-top: 1em !important;
}

.hero-btn {
  /* Positioning and sizing */
  display: block;
  width: 150px;
  height: 150px;
  background: #DDA288;
  /* Padding and margins */
  padding: 2em;
  margin-top: 4em !important;
  margin-bottom: -14em !important;
  margin-left: auto;
  margin-right: auto;
  /* Border styles */
  border-radius: 50%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  transition: ease-out 0.25s;
}
.hero-btn:hover {
  background: #F5F1F1;
  transform: scale(1.1);
}

.pointer-hero {
  height: 150px;
  width: 315px;
  position: absolute;
  display: inline-block;
  margin-top: 200px !important;
  margin-left: 20px !important;
}
.pointer-hero img {
  position: absolute;
  left: 0;
  top: 20px;
}
.pointer-hero h2 {
  position: absolute;
  right: 0;
  top: 40px;
  font-family: "Covered By Your Grace", cursive;
}

.registration {
  width: 100vw;
  height: auto;
  background: #5A4E4D;
}

.reg-container {
  width: 700px;
  height: 100%;
  margin: 0 auto !important;
  padding-top: 150px !important;
}
.reg-container h1 {
  font-size: 4em;
  text-align: center;
  font-family: "Manjari", sans-serif;
  font-weight: 100;
  color: #DDA288;
  letter-spacing: 2px;
}
.reg-container img {
  height: 40px;
}
.reg-container h2 {
  color: #F5F1F1;
  text-align: center;
  font-family: "Manjari", sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 3px;
  padding-top: 10px;
}

.reg-info-box {
  width: 100%;
  height: 200px;
  margin: 0 auto !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -25px !important;
}
.reg-info-box .reg-info-circle {
  width: 80px;
  height: 80px;
  background: #DDA288;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}
.reg-info-box .reg-info-circle img {
  width: 45px;
  height: 45px;
}
.reg-info-box .reg-info-circle:nth-of-type(2) {
  margin: 0 5em !important;
}
.reg-info-box .reg-info-pointer {
  height: 170px;
  width: 170px;
  position: absolute;
  margin-top: 70px !important;
  margin-left: -390px !important;
}
.reg-info-box .reg-info-pointer img {
  position: absolute;
  right: 0;
  height: 7em;
  transform: rotate(110deg);
}
.reg-info-box .reg-info-pointer h2 {
  position: absolute;
  bottom: 0;
  font-family: "Covered By Your Grace", cursive;
  color: #DDA288;
}
.reg-info-box .reg-info-pointer:nth-last-child(1) {
  margin-top: 120px !important;
  margin-left: 30px !important;
}
.reg-info-box .reg-info-pointer:nth-last-child(1) img {
  transform: rotate(10deg);
}
.reg-info-box .reg-info-pointer:nth-last-child(1) h2 {
  width: 200px;
  top: 2em;
  left: 8em;
}
.reg-info-box .reg-info-pointer:nth-last-child(2) {
  margin-top: 0px !important;
  margin-left: 350px !important;
}
.reg-info-box .reg-info-pointer:nth-last-child(2) img {
  transform: rotate(300deg);
}
.reg-info-box .reg-info-pointer:nth-last-child(2) h2 {
  width: 200px;
  top: -3em;
  left: 4em;
}

.reg-form {
  height: auto;
  width: 50%;
  padding-top: 50px;
  margin: 0 auto !important;
  display: block;
  color: #F5F1F1;
}
.reg-form .form-group {
  padding: 10px 0px;
}
.reg-form .form-group label {
  display: block;
  padding: 5px 0px;
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}
.reg-form .form-group input {
  line-height: 20px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: inherit;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  color: #F5F1F1;
  padding: 0px 10px;
  font-size: 1.1em;
  font-family: "Manjari", sans-serif;
  background: #8593ae;
  outline: none;
}
.reg-form .form-group .even {
  background: #DDA288;
}
.reg-form p {
  font-size: 0.75em;
  line-height: 15px;
  padding: 5px 0px;
  font-family: "Manjari", sans-serif;
}
.reg-form input[type=submit] {
  padding: 15px 20px 10px 20px;
  background: #DDA288;
  color: #5A4E4D;
  border: inherit;
  outline: none;
  border-radius: 10px;
  font-family: "Manjari", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin: 0 auto !important;
  margin-top: 10px !important;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.reg-form input[type=submit]:hover {
  background: #8593ae;
  color: #F5F1F1;
  transform: scale(1.1);
}
.reg-form .privacy {
  padding: 20px 0px;
  position: relative;
  z-index: 2;
}
.reg-form .privacy span {
  color: #DDA288;
}

/*# sourceMappingURL=styles.css.map */
