.footer {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -150px !important;
    z-index: 2;
}
.footer-container {
    width: 75%;
    height: 150px;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    display: flex;
    flex-direction: row;
    .dot-copyright {
        background: #DDA288;
        height: auto;
        width: auto;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            color: #5A4E4D;
            font-size: 1.3em;
            padding: 4px;
        }
    }
    p {
        font-family: 'Manjari', sans-serif;
        font-weight: 400;
        line-height: 30px;
        padding-left: 10px;
        color: #F5F1F1;
    }
}
.socials {
    display: flex;
    flex-direction: column;
    p {
        font-size: 1.2em;
        font-family: 'Manjari', sans-serif;
        font-weight: 400;
        line-height: 20px;
        color: #F5F1F1;
    }
    .socials-icons {
        i {
            font-size: 2em;
            padding: 10px;
            color: #DDA288;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
