.scroll {
    background-color:#8593ae;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6);
    transition: background-color 6000ms linear;
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    .nav-box {
        width: 80%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        .logo-box {
            width: 300px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                transition: 0.2s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .items-box {
            width: auto;
            height: 100%;
            ul {
                list-style: none;
                margin-top: 10px !important;
                padding-left: 0;
                font-family: 'Manjari', sans-serif;
                li {
                    color: #F5F1F1;
                    display: block;
                    float: left;
                    padding: 0.7em;
                    position: relative;
                    text-decoration: none;
                    transition-duration: 0.3s;
                    @include respond-to(small) {
                        padding: 0.5em;
                    }
                    a {
                        color: #F5F1F1;
                        font-size: 1.4em;
                        text-transform: capitalize;
                        padding-top: 7px !important;
                        @include respond-to(small) {
                            font-size: 0.9rem;
                        }
                        svg {
                            margin-top: 0;
                            margin-left: 5px;
                        }
                    }
                    &:hover, &:focus-within {
                        cursor: pointer;
                        transform: scale(1.1);
                        font-weight: 700;
                    }
                    &:focus-within a {
                        outline: none;
                    }
                    .border-last {
                        border: 2px solid #DDA288;
                        padding: 4px 10px 4px 10px;
                        border-radius: 10px;
                        &:hover {
                            background: rgba($color: #DDA288, $alpha: 0.9);
                        }
                    }
                    .icon-box {
                        position: relative;
                        display: inline-block;
                        top: -7px;
                        height: 30px;
                    }
                    .icon {
                        position: relative;
                        display: inline-block;
                        width: 30px;
                        height: 3px;
                        background: #F5F1F1;
                        transition: 0.3s;
                        &:before,
                        &:after {
                            @extend .icon;
                            content: "";
                            position: absolute;
                            left: 0;
                        }
                        &:before {
                            top: 8px;
                        }
                        &:after {
                            bottom: 8px;
                        }
                    }
                    .iconOn {
                        background: transparent;
                        &:before {
                            top: 0;
                            transform: rotate3d(0, 0, 1, 45deg);
                        }
                        &:after {
                            bottom: 0;
                            transform: rotate3d(0, 0, 1, -45deg);
                        }
                    }
                    .dropdown-holder {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: -10px;
                        height: 30px;
                        i {
                            padding-left: 15px;
                        }
                        .user-img {
                            width: 40px;
                            height: 40px;
                            border: 3px solid #DDA288;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 15px !important;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                    &:hover > ul,
                    &:focus-within > ul {
                        visibility: visible;
                        opacity: 1;
                        display: block;
                    }
                    ul {
                        visibility: hidden;
                        opacity: 0;
                        min-width: 3rem;
                        position: absolute;
                        transition: all 0.5s ease;
                        top: 2.5rem;
                        left: 0;
                        right: 0;
                        display: none;
                        &:hover,
                        &:focus {
                            visibility: visible;
                            opacity: 1;
                            display: block;
                        }
                        .last {
                            border-bottom: 2px solid #8593ae;
                        }
                        li {
                            clear: both;
                            width: 100%;
                            border-top: 2px solid #8593ae;
                            border-bottom: 2px solid #8593ae;
                            background: #7E675E;
                            a {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
                .menu-iconOn {
                    border: 2px solid #7E675E;
                    padding: 4px 10px 4px 10px;
                    border-radius: 10px;
                    background: #7E675E;
                }
            }
        }
    }
}