body {
    margin: 0 !important;
    overflow-x: hidden;
    height: 100%;
}
.wave {
    position: relative;
    height: 220px;
    background-image: url('../public/assets/wave.svg');
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
    margin-top: -100px !important;
}
body::-webkit-scrollbar-track {
    background-color: #DDA288;
}
body::-webkit-scrollbar
{
	width: 10px;
	background-color: #DDA288;
}
body::-webkit-scrollbar-thumb
{
    background-color: #8593ae;
}