body {
    margin: 0 !important;
    overflow-x: hidden;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    background:#5A4E4D;
}
.wave {
    position: relative;
    height: 220px;
    background-image: url('../public/assets/wave.svg');
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
    margin-top: -100px !important;
}
body::-webkit-scrollbar-track {
    background-color: #DDA288;
}
body::-webkit-scrollbar
{
	width: 10px;
	background-color: #DDA288;
}
body::-webkit-scrollbar-thumb
{
    background-color: #8593ae;
}
#scroll::-webkit-scrollbar-track {
    background: #DDA288;
    border-left: 8px solid #5A4E4D;
    border-right: 8px solid #5A4E4D;
}
#scroll::-webkit-scrollbar
{
	width: 20px;
}
#scroll::-webkit-scrollbar-thumb
{
    background: #8593ae;
    border-left: 5px solid #5A4E4D;
    border-right: 5px solid #5A4E4D;
    border-radius: 8px;
}