body {
    margin: 0 !important;
    overflow-x: hidden;
    height: 100%;
}
.wave {
    position: relative;
    height: 220px;
    background-image: url('../public/assets/wave.svg');
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
    margin-top: -100px !important;
}