
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: #F5F1F1; /* ADD THIS LINE */

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../public/assets/BG.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 20px !important;

    h1 {
        /* Text styles */
        font-size: 5em;
        font-family: 'Open Sans';

        /* Margins */
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 2em;
        font-family: 'Open Sans';
        font-style: italic;
        letter-spacing: 5px;

        /* Margins */
        margin-top: 1em !important;
    }
}
.hero-btn {
    /* Positioning and sizing */
    display: block;
    width: 150px;
    height: 150px;
    background: #DDA288;

    /* Padding and margins */
    padding: 2em;
    margin-top: 4em !important;
    margin-bottom: -14em !important;
    margin-left: auto;
    margin-right: auto;

    /* Border styles */
    border-radius: 50%;

    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);

    transition: ease-out 0.25s;

    &:hover {
        background: #F5F1F1;
        transform: scale(1.1);
    }
}

.pointer-hero {
    height: 150px;
    width: 200px;
    position: absolute;
    display: inline-block;
    margin-top: 190px !important;
    margin-left: 30px !important;
    @include respond-to(large) {
        display: none;
    }
    img {
        position: absolute;
        left: 0;
        top: 20px;
    }
    h2 {
        position: absolute;
        right: -120px;
        top: 40px;
        font-family: 'Covered By Your Grace', cursive;
        @include respond-to(large) {
            right: -20px;
            top:20px;
        }
    }
}