.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../public/assets/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 20px !important;

    h1 {
        /* Text styles */
        font-size: 5em;
        font-family: 'Open Sans';

        /* Margins */
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 2em;
        font-family: 'Open Sans';
        font-style: italic;
        letter-spacing: 5px;

        /* Margins */
        margin-top: 1em !important;
    }
}
.hero-btn {
    /* Positioning and sizing */
    display: block;
    width: 150px;
    height: 150px;
    background: #DDA288;

    /* Padding and margins */
    padding: 1em;
    margin-top: 4em !important;
    margin-bottom: -14em !important;
    margin-left: auto;
    margin-right: auto;

    /* Border styles */
    border-radius: 50%;

    background-image: url('../public/assets/chef.svg');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}